<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gjyniubi.cinema.admin.core.schedule.mapper.FilmScheduleMapper">

    <select id="selectFilmScheduleList"
            resultType="cn.gjyniubi.cinema.admin.core.schedule.dto.FilmScheduleDto">
        select film_schedule.`id`,film_schedule. `cinema_id`, film_schedule.`film_id`,
        film_schedule.`hall_id`,  film_schedule.`begin_time`, film_schedule.`end_time`,
        film_schedule.`create_time`, film_schedule.`create_by`,
        film_schedule.`total_site`,sys_user.name as createUser,
        CONCAT(doc_cinema.position,' ',doc_cinema.address) as cinemaPosition,
               doc_cinema.name as cinemaName,
               doc_film.name as filmName,
               doc_hall.name as hallName
               from film_schedule
        left join sys_user on sys_user.id = film_schedule.create_by
        left join doc_film on doc_film.id = film_schedule.film_id
        left join doc_cinema on doc_cinema.id = film_schedule.cinema_id
        left join doc_hall on doc_hall.id = film_schedule.hall_id
        where film_schedule.logic_del = 0
        <if test="filmName!=null and filmName!=''">
            and doc_film.name like concat('%',#{filmName},'%')
        </if>
        <if test="cinemaName!=null and cinemaName!=''">
            and doc_cinema.name like concat('%',#{cinemaName},'%')
        </if>
        <if test="begin!=null">
            and film_schedule.begin_time  &gt;= #{begin}
        </if>
        <if test="end!=null">
            and film_schedule.begin_time  &lt;= #{end}
        </if>
        order by film_schedule.id desc
        limit #{page},#{pageSize}
    </select>
    <select id="selectFilmScheduleCount" resultType="java.lang.Integer">
        select count(*) from film_schedule
        left join doc_film on doc_film.id = film_schedule.film_id
        left join doc_cinema on doc_cinema.id = film_schedule.cinema_id
        where film_schedule.logic_del = 0
        <if test="filmName!=null and filmName!=''">
            and doc_film.name like concat('%',#{filmName},'%')
        </if>
        <if test="cinemaName!=null and cinemaName!=''">
            and doc_cinema.name like concat('%',#{cinemaName},'%')
        </if>
        <if test="begin!=null">
            and film_schedule.begin_time  &gt;= #{begin}
        </if>
        <if test="end!=null">
            and film_schedule.begin_time  &lt;= #{end}
        </if>
    </select>
</mapper>